################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/PowerCreator.LiveClient.Desktop/v15
/packages
/PowerCreator.LiveClient.Core/bin/Debug
/PowerCreator.LiveClient.Core/obj/Debug
/PowerCreator.LiveClient.Desktop/obj/Debug
/PowerCreator.LiveClient.Infrastructure/bin/Debug
/PowerCreator.LiveClient.Infrastructure/obj/Debug
/PowerCreator.LiveClient.Log/bin/Debug
/PowerCreator.LiveClient.Log/obj/Debug
/PowerCreator.LiveClient.VsNetSdk/bin/Debug
/PowerCreator.LiveClient.VsNetSdk/obj/Debug
/Test/bin/Debug
/Test/obj/Debug
/PowerCreator.LiveClient.Desktop/bin/Debug
/PowerCreator.LiveClient.Tests/bin/Debug
/PowerCreator.LiveClient.Tests/obj/Debug
/PowerCreator.LiveClient.Tests/lib
/1.mp4
/PowerCreator.LiveClient.Modules.MsPlay/obj/Debug
/PowerCreator.WebPlatform.Sdk/obj/Debug
/PowerCreator.LiveClient.Modules.MsPlay/bin/Debug
/TestModule/obj/Debug
/TestModule/bin/Debug
/PowerCreator.LiveClient.Core/bin/Release
/PowerCreator.LiveClient.Desktop/bin/Release
/PowerCreator.LiveClient.Desktop/obj/Release
/PowerCreator.LiveClient.Infrastructure/bin/Release
/PowerCreator.LiveClient.Infrastructure/obj/Release
/PowerCreator.LiveClient.Log/bin/Release
/PowerCreator.LiveClient.Log/obj/Release
/PowerCreator.LiveClient.Tests/obj/Release
/PowerCreator.LiveClient.VsNetSdk/bin/Release
/PowerCreator.LiveClient.VsNetSdk/obj/Release
/PowerCreator.WebPlatform.Sdk/obj/Release
/Test/obj/Release
/PowerCreator.LiveClient.Core/obj/Release
/LiveClientDesktop/bin/Debug
/LiveClientDesktop/lib
/LiveClientDesktop/obj/Debug
/LiveClientDesktop/bin/Release
/PowerCreator.WebPlatform.Sdk/bin/Debug
