<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns= "http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,Microsoft.Practices.Unity" />
    <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
  </typeAliases>
  <containers>
    <container name="defaultContainer">
      <!--Views-->
      <register type="LiveClientDesktop.Shell,LiveClientDesktop">
        <constructor>
          <param name="container" type="Microsoft.Practices.Unity.IUnityContainer,Microsoft.Practices.Unity"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.WindowViews.PreviewWindow,LiveClientDesktop">
        <constructor>
          <param name="previewWindowViewModel" type="LiveClientDesktop.ViewModels.PreviewWindowViewModel,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.Views.PowerCreatorPlayerView,LiveClientDesktop"/>
      <register type="LiveClientDesktop.SystemConfig,LiveClientDesktop">
        <lifetime type="singleton" />
        <constructor>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
        </constructor>
        <method name="Initialize"/>
      </register>
      <register type="LiveClientDesktop.StartupParameters,LiveClientDesktop">
        <lifetime type="singleton" />
        <constructor>
          <param name="liveId" type="System.String">
            <value value="618"></value>
          </param>
          <param name="guid" type="System.String">
            <value value="4d9ed79703004af4929467b68e92bf44"></value>
          </param>
          <param name="domain" type="System.String">
            <value value="http://47.93.38.164"></value>
          </param>
          <param name="httpServerPort" type="System.Int32">
            <value value="5479"></value>
          </param>
        </constructor>
      </register>
      <!--LiveClient.Core-->
      <register type="PowerCreator.LiveClient.Core.VideoDevice.IVideoDeviceManager,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.VideoDevice.VideoDeviceManager,PowerCreator.LiveClient.Core">
        <lifetime type="singleton" />
        <constructor>
          <param name="logger" type="Microsoft.Practices.Prism.Logging.ILoggerFacade,Prism.Desktop.Net40"/>
        </constructor>
      </register>
      <register type="PowerCreator.LiveClient.Core.AudioDevice.IAudioDeviceManager,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.AudioDevice.AudioDeviceManager,PowerCreator.LiveClient.Core">
        <lifetime type="singleton" />
      </register>
      <register type="PowerCreator.LiveClient.Core.VideoDevice.IDesktopWindowCollector,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.VideoDevice.DesktopWindowCollector,PowerCreator.LiveClient.Core"/>
      <!--ViewModels-->
      <register type="LiveClientDesktop.ViewModels.ShellViewModel,LiveClientDesktop"/>
      <register type="LiveClientDesktop.ViewModels.ViewModelContext,LiveClientDesktop"/>
      <register type="LiveClientDesktop.ViewModels.CameraDeviceViewModel,LiveClientDesktop">
        <constructor>
          <param name="cameraDeviceService" type="LiveClientDesktop.Services.CameraDeviceService,LiveClientDesktop"/>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.PresentationItemViewModel,LiveClientDesktop"/>
      <register type="LiveClientDesktop.ViewModels.PresentationViewModel,LiveClientDesktop">
        <constructor>
          <param name="presentationsRepository" type="LiveClientDesktop.Services.PresentationsRepository,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.CourseContentsViewModel,LiveClientDesktop">
        <constructor>
          <param name="cameraDeviceViewModel" type="LiveClientDesktop.ViewModels.CameraDeviceViewModel,LiveClientDesktop"/>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
          <param name="eventSubscriptionManager" type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.PlayVolumeControlViewModel,LiveClientDesktop">
        <constructor>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
          <param name="eventSubscriptionManager" type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.MicrophoneVolumeControlViewModel,LiveClientDesktop">
        <constructor>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
          <param name="eventSubscriptionManager" type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop"/>
          <param name="mMDeviceEnumerator" type="NAudio.CoreAudioApi.MMDeviceEnumerator,NAudio"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.SpeechViewModel,LiveClientDesktop">
        <constructor>
          <param name="container" type="Microsoft.Practices.Unity.IUnityContainer,Microsoft.Practices.Unity"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.PreviewWindowViewModel,LiveClientDesktop">
        <lifetime type="singleton" />
        <constructor>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
          <param name="enumerationWindowService" type="LiveClientDesktop.Services.EnumerationWindowService,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.LiveControlViewModel,LiveClientDesktop">
        <constructor>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
          <param name="container" type="Microsoft.Practices.Unity.IUnityContainer,Microsoft.Practices.Unity"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.RecordingControlViewModel,LiveClientDesktop">
        <constructor>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
          <param name="container" type="Microsoft.Practices.Unity.IUnityContainer,Microsoft.Practices.Unity"/>
          <param name="eventSubscriptionManager" type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.UploadDocumentViewModel,LiveClientDesktop">
        <constructor>
          <param name="logger" type="Microsoft.Practices.Prism.Logging.ILoggerFacade,Prism.Desktop.Net40"/>
          <param name="documentService" type="LiveClientDesktop.Services.DocumentService,LiveClientDesktop"/>
          <param name="fileFilter" type="System.String">
            <value value="PPT File(*.ppt;*.pptx;*.doc;*.docx;*.mp4;*.jpg;*.png;*.bmp;*.txt;*.zip;*.rar)|*.ppt;*.pptx;*.doc;*.docx;*.mp4;*.jpg;*.png;*.bmp;*.txt;*.zip;*.rar"></value>
          </param>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.UploadCoursewareViewModel,LiveClientDesktop">
        <lifetime type="singleton" />
        <constructor>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
          <param name="uploadCoursewareService" type="LiveClientDesktop.Services.UploadCoursewareService,LiveClientDesktop"/>
          <param name="eventSubscriptionManager" type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.SettingsViewModel,LiveClientDesktop">
        <lifetime type="singleton" />
        <constructor>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
          <param name="audioDeviceManager" type="PowerCreator.LiveClient.Core.AudioDevice.IAudioDeviceManager,PowerCreator.LiveClient.Core"/>
          <param name="cameraDeviceService" type="LiveClientDesktop.Services.CameraDeviceService,LiveClientDesktop"/>
          <param name="videoDeviceAliasService" type="LiveClientDesktop.Services.VideoDeviceAliasService,LiveClientDesktop"/>
        </constructor>
        <method name="Initialize"/>
      </register>

      <!--Services-->
      <register type="LiveClientDesktop.Services.VideoDeviceAliasService,LiveClientDesktop">
        <constructor>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
          <param name="logger" type="Microsoft.Practices.Prism.Logging.ILoggerFacade,Prism.Desktop.Net40"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.Services.StorageProvider,LiveClientDesktop">
        <constructor>
          <param name="liveInfo" type="LiveClientDesktop.Models.LiveInfo,LiveClientDesktop"/>
          <param name="serviceClient" type="PowerCreatorDotCom.Sdk.Core.IServiceClient,PowerCreatorDotCom.Sdk.Core"/>
          <param name="webPlatformApiFactory" type="LiveClientDesktop.Services.WebPlatformApiFactory,LiveClientDesktop" />
        </constructor>
      </register>
      <register type="LiveClientDesktop.Services.UploadCoursewareService,LiveClientDesktop">
        <lifetime type="singleton" />
        <constructor>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
          <param name="storageProvider" type="LiveClientDesktop.Services.StorageProvider,LiveClientDesktop"/>
          <param name="serviceClient" type="PowerCreatorDotCom.Sdk.Core.IServiceClient,PowerCreatorDotCom.Sdk.Core"/>
          <param name="webPlatformApiFactory" type="LiveClientDesktop.Services.WebPlatformApiFactory,LiveClientDesktop" />
          <param name="eventSubscriptionManager" type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.Services.DocumentService,LiveClientDesktop">
        <constructor>
          <param name="serviceClient" type="PowerCreatorDotCom.Sdk.Core.IServiceClient,PowerCreatorDotCom.Sdk.Core"/>
          <param name="liveInfo" type="LiveClientDesktop.Models.LiveInfo,LiveClientDesktop"/>
          <param name="webPlatformApiFactory" type="LiveClientDesktop.Services.WebPlatformApiFactory,LiveClientDesktop" />
        </constructor>
      </register>
      <register type="LiveClientDesktop.Services.CameraDeviceService,LiveClientDesktop">
        <constructor>
          <param name="videoDeviceManager" type="PowerCreator.LiveClient.Core.VideoDevice.IVideoDeviceManager,PowerCreator.LiveClient.Core"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.Services.PresentationsRepository,LiveClientDesktop">
        <constructor>
          <param name="logger" type="Microsoft.Practices.Prism.Logging.ILoggerFacade,Prism.Desktop.Net40"/>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
          <param name="maximumSavedEntry" type="System.Int32">
            <value value="5"></value>
          </param>
        </constructor>
      </register>
      <register type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop">
        <constructor>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.Services.EnumerationWindowService,LiveClientDesktop">
        <constructor>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
        </constructor>
      </register>

      <register type="LiveClientDesktop.Services.ILiveStreamAddressProvider,LiveClientDesktop" mapTo="LiveClientDesktop.Services.AliyunLiveStreamProvider,LiveClientDesktop"/>
      <register type="LiveClientDesktop.Services.AliyunLiveStreamProvider,LiveClientDesktop">
        <lifetime type="singleton" />
        <constructor>
          <param name="logger" type="Microsoft.Practices.Prism.Logging.ILoggerFacade,Prism.Desktop.Net40"/>
          <param name="serviceClient" type="PowerCreatorDotCom.Sdk.Core.IServiceClient,PowerCreatorDotCom.Sdk.Core"/>
          <param name="webPlatformApiFactory" type="LiveClientDesktop.Services.WebPlatformApiFactory,LiveClientDesktop" />
        </constructor>
      </register>

      <register type="LiveClientDesktop.Services.SpeechVideoLiveAndRecordProvider,LiveClientDesktop">
        <lifetime type="singleton" />
        <constructor>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
          <param name="logger" type="Microsoft.Practices.Prism.Logging.ILoggerFacade,Prism.Desktop.Net40"/>
          <param name="audioDeviceManager" type="PowerCreator.LiveClient.Core.AudioDevice.IAudioDeviceManager,PowerCreator.LiveClient.Core" />
          <param name="liveStreamAddressProvider" type="LiveClientDesktop.Services.ILiveStreamAddressProvider,LiveClientDesktop" />
          <param name="eventSubscriptionManager" type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop"/>
        </constructor>
      </register>

      <register type="LiveClientDesktop.Services.TeacherVideoLiveAndRecordProvider,LiveClientDesktop">
        <lifetime type="singleton" />
        <constructor>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
          <param name="logger" type="Microsoft.Practices.Prism.Logging.ILoggerFacade,Prism.Desktop.Net40"/>
          <param name="audioDeviceManager" type="PowerCreator.LiveClient.Core.AudioDevice.IAudioDeviceManager,PowerCreator.LiveClient.Core" />
          <param name="liveStreamAddressProvider" type="LiveClientDesktop.Services.ILiveStreamAddressProvider,LiveClientDesktop" />
          <param name="eventSubscriptionManager" type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="PowerCreatorDotCom.Sdk.Core.IServiceClient,PowerCreatorDotCom.Sdk.Core" mapTo="PowerCreatorDotCom.Sdk.Core.ServiceClient,PowerCreatorDotCom.Sdk.Core"/>
      <register type="LiveClientDesktop.Services.ILoginService,LiveClientDesktop" mapTo="LiveClientDesktop.Services.AutoLoginService,LiveClientDesktop">
        <constructor>
          <param name="serviceClient" type="PowerCreatorDotCom.Sdk.Core.IServiceClient,PowerCreatorDotCom.Sdk.Core"/>
          <param name="webPlatformApi" type="LiveClientDesktop.Services.WebPlatformApiFactory,LiveClientDesktop" />
          <param name="startupParameters" type="LiveClientDesktop.StartupParameters,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.Services.WebPlatformApiFactory,LiveClientDesktop">
        <constructor>
          <param name="startupParameters" type="LiveClientDesktop.StartupParameters,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.Models.LiveInfo,LiveClientDesktop">
        <lifetime type="singleton" />
      </register>
      <register type="LiveClientDesktop.StatusReporting.LiveStatusReporting,LiveClientDesktop">
        <lifetime type="singleton" />
        <constructor>
          <param name="logger" type="Microsoft.Practices.Prism.Logging.ILoggerFacade,Prism.Desktop.Net40"/>
          <param name="serviceClient" type="PowerCreatorDotCom.Sdk.Core.IServiceClient,PowerCreatorDotCom.Sdk.Core"/>
          <param name="webPlatformApiFactory" type="LiveClientDesktop.Services.WebPlatformApiFactory,LiveClientDesktop" />
          <param name="eventSubscriptionManager" type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.StatusReporting.LiveStatusReporting,LiveClientDesktop">
        <lifetime type="singleton" />
        <constructor>
          <param name="logger" type="Microsoft.Practices.Prism.Logging.ILoggerFacade,Prism.Desktop.Net40"/>
          <param name="serviceClient" type="PowerCreatorDotCom.Sdk.Core.IServiceClient,PowerCreatorDotCom.Sdk.Core"/>
          <param name="webPlatformApiFactory" type="LiveClientDesktop.Services.WebPlatformApiFactory,LiveClientDesktop" />
          <param name="eventSubscriptionManager" type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop"/>
        </constructor>
      </register>
    </container>
  </containers>
</unity>