<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns= "http://schemas.microsoft.com/practices/2010/unity">
  <containers>
    <container name="defaultContainer">
      <register type="LiveClientDesktop.Shell,LiveClientDesktop">
        <constructor>
          <param name="container" type="Microsoft.Practices.Unity.IUnityContainer,Microsoft.Practices.Unity"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.SystemConfig,LiveClientDesktop">
        <lifetime type="singleton" />
      </register>
      <register type="PowerCreator.LiveClient.Core.VideoDevice.IVideoDeviceManager,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.VideoDevice.VideoDeviceManager,PowerCreator.LiveClient.Core">
        <lifetime type="singleton" />
        <constructor>
          <param name="logger" type="Microsoft.Practices.Prism.Logging.ILoggerFacade,Prism.Desktop.Net40"/>
        </constructor>
      </register>
      <register type="PowerCreator.LiveClient.Core.AudioDevice.IAudioDeviceManager,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.AudioDevice.AudioDeviceManager,PowerCreator.LiveClient.Core">
        <lifetime type="singleton" />
      </register>
      <register type="PowerCreator.LiveClient.Core.AudioEncoder.IAacEncoder,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.AudioEncoder.AacEncoder,PowerCreator.LiveClient.Core">
        <lifetime type="singleton" />
      </register>
      <register type="PowerCreator.LiveClient.Core.VideoEncoder.IVideoEncoder,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.VideoEncoder.H264VideoEncoder,PowerCreator.LiveClient.Core"/>
     
      <register type="PowerCreator.LiveClient.Core.LiveBroadcast.ILiveBroadcast,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.LiveBroadcast.LiveBroadcast,PowerCreator.LiveClient.Core"/>
      
      <register type="LiveClientDesktop.ViewModels.ShellViewModel,LiveClientDesktop"/>
      <register type="LiveClientDesktop.ViewModels.ViewModelContext,LiveClientDesktop"/>

      <register type="LiveClientDesktop.Services.CameraDeviceService,LiveClientDesktop">
        <constructor>
          <param name="videoDeviceManager" type="PowerCreator.LiveClient.Core.VideoDevice.IVideoDeviceManager,PowerCreator.LiveClient.Core"/>
        </constructor>
      </register>

      <register type="LiveClientDesktop.ViewModels.CameraDeviceViewModel,LiveClientDesktop">
        <constructor>
          <param name="cameraDeviceService" type="LiveClientDesktop.Services.CameraDeviceService,LiveClientDesktop"/>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
        </constructor>
      </register>

      <register type="LiveClientDesktop.Services.PresentationsRepository,LiveClientDesktop">
        <constructor>
          <param name="logger" type="Microsoft.Practices.Prism.Logging.ILoggerFacade,Prism.Desktop.Net40"/>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
          <param name="maximumSavedEntry" type="System.Int32">
            <value value="5"></value>
          </param>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.PresentationItemViewModel,LiveClientDesktop"/>
      <register type="LiveClientDesktop.ViewModels.PresentationViewModel,LiveClientDesktop">
        <constructor>
          <param name="presentationsRepository" type="LiveClientDesktop.Services.PresentationsRepository,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.CourseContentsViewModel,LiveClientDesktop">
        <constructor>
          <param name="cameraDeviceViewModel" type="LiveClientDesktop.ViewModels.CameraDeviceViewModel,LiveClientDesktop"/>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.Views.PowerCreatorPlayerView,LiveClientDesktop"/>
      <register type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop">
        <constructor>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.PlayVolumeControlViewModel,LiveClientDesktop">
        <constructor>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
          <param name="eventSubscriptionManager" type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.MicrophoneVolumeControlViewModel,LiveClientDesktop">
        <constructor>
          <param name="config" type="LiveClientDesktop.SystemConfig,LiveClientDesktop"/>
          <param name="eventAggregator" type="Microsoft.Practices.Prism.Events.IEventAggregator,Prism.Desktop.Net40"/>
          <param name="eventSubscriptionManager" type="LiveClientDesktop.EventAggregations.EventSubscriptionManager,LiveClientDesktop"/>
          <param name="mMDeviceEnumerator" type="NAudio.CoreAudioApi.MMDeviceEnumerator,NAudio"/>
        </constructor>
      </register>
      <register type="LiveClientDesktop.ViewModels.SpeechViewModel,LiveClientDesktop"/>
    </container>
  </containers>
</unity>