<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns= "http://schemas.microsoft.com/practices/2010/unity">
  <containers>
    <container name="defaultContainer">
      <register type="PowerCreator.LiveClient.Desktop.Shell,PowerCreator.LiveClient.Desktop"/>
      <register type="PowerCreator.LiveClient.Desktop.IStartupParameters,PowerCreator.LiveClient.Desktop" mapTo="PowerCreator.LiveClient.Desktop.StartupParameters,PowerCreator.LiveClient.Desktop">
        <lifetime type="singleton" />
        <constructor>
          <param name="liveId" type="System.String">
            <value value="489"/>
          </param>
          <param name="guid" type="System.String">
            <value value="489"/>
          </param>
          <param name="domain" type="System.String">
            <value value="489"/>
          </param>
        </constructor>
      </register>


      <register type="PowerCreator.LiveClient.Core.VideoDevice.IVideoDeviceManager,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.VideoDevice.VideoDeviceManager,PowerCreator.LiveClient.Core">
        <lifetime type="singleton" />
      </register>
      <register type="PowerCreator.LiveClient.Core.AudioDevice.IAudioDeviceManager,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.AudioDevice.AudioDeviceManager,PowerCreator.LiveClient.Core">
        <lifetime type="singleton" />
      </register>
      <register type="PowerCreator.LiveClient.Core.AudioEncoder.IAacEncoder,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.AudioEncoder.AacEncoder,PowerCreator.LiveClient.Core">
        <lifetime type="singleton" />
      </register>
      <register type="PowerCreator.LiveClient.Core.VideoEncoder.IVideoEncoder,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.VideoEncoder.H264VideoEncoder,PowerCreator.LiveClient.Core"/>
      <register type="PowerCreator.LiveClient.Core.Record.IRecord,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.Record.Record,PowerCreator.LiveClient.Core"/>
    </container>
  </containers>
</unity>