<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns= "http://schemas.microsoft.com/practices/2010/unity">
  <containers>
    <container name="defaultContainer">

      <register type="PowerCreator.LiveClient.Desktop.IStartupParameters,PowerCreator.LiveClient.Desktop" mapTo="PowerCreator.LiveClient.Desktop.StartupParameters,PowerCreator.LiveClient.Desktop">
        <lifetime type="singleton" />
        <constructor>
          <param name="liveId" type="System.String">
            <value value="489"/>
          </param>
          <param name="guid" type="System.String">
            <value value="489"/>
          </param>
          <param name="domain" type="System.String">
            <value value="489"/>
          </param>
          <param name="cookie" type="System.String">
            <value value="489"/>
          </param>
        </constructor>
      </register>


      <register type="PowerCreator.LiveClient.Core.VideoDevice.IVideoDeviceManager,PowerCreator.LiveClient.Core" mapTo="PowerCreator.LiveClient.Core.VideoDevice.VideoDeviceManager,PowerCreator.LiveClient.Core">
        <lifetime type="singleton" />
      </register>
    </container>
  </containers>
</unity>